name: CI
on:
  pull_request:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
  workflow_dispatch:
jobs:
  ci:
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.name }}-${{ matrix.sqlserver.label }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-2022, ubuntu-22.04]
        sqlserver:
          - label: 'SQL Server 2022'
            version: '2022'
          - label: 'SQL Server 2019'  
            version: '2019'
        include:
          - os: windows-2022
            name: Windows
          - os: ubuntu-22.04
            name: Linux
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Run
        uses: ./
        with:
          connection-string-env-var: SQL_CONN_STR
          catalog: my-test-catalog
          sqlserver-version: ${{ matrix.sqlserver.version }}
      - name: Check result
        shell: pwsh
        run: |
          $connstr = $Env:SQL_CONN_STR
          Write-Host "Connection String: $connstr"

          $result = sqlcmd -Q "SELECT DB_NAME() as CatalogName" -d "my-test-catalog"
          echo $result
